*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}
.container{
    padding: 0 10%;
}
.btn{
    margin-top: 15px;
    display: inline-block;
    background-color: #FF5959;
    color: white;
    padding: 10px 20px;
    border: 2px solid #FF5959;
    border-radius: 7px;
    transition-duration: .3s;
}
.btn:hover{
    background-color: transparent;
    color: #FF5959;
    transition-duration: .3s;
}





/* Header Styles */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 30px #ebebeb;
}
header div{
    padding: 15px 0;
}
header div p{
    color: #FF5959;
    font-family: 'Great Vibes', cursive;
    font-size: 35px;
    font-weight: 500;
}
header nav{
    padding: 15px 0;
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav a{
    color: #FF5959;
    font-size: 18px;
    font-weight: 400;
    display: block;
    margin-left: 10px;
}





/* Showase Section Styles */
#showcase{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}
.show-box{
    width: 45%;
}
.show-box div{
    padding: 0 20px;
    border-left: 5px solid #FF5959;
}
.show-box h1{
    margin: 10px 0;
    font-size: 50px;
}
.show-box h1 span{
    color: #FFAD5A;
    display: inline-block;
}
.show-box>p{
    margin: 25px 0;
    color: #707070;
    font-size: 15px;
    word-spacing: 5px;
}
.show-box div p{
    letter-spacing: 15px;
}
.show-box a i{
    margin-right: 5px;
}
.show-box small{
    display: block;
    color: #FFAD5A;
    font-size: 13px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.show-box img{
    width: 100%;
}





/* Skill Section Styles */
#skill{
    text-align: center;
    margin: 50px 0;
}
#skill h1{
    margin: 10px 0;
    font-size: 50px;
}
#skill h1 span{
    color: #FFAD5A;
}
#skill-wrapper{
    display: flex;
    justify-content: space-between;
}
.skill-box{
    margin: 35px 0;
    width: 30%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition-duration: .5s;
}
.skill-box:hover{
    box-shadow: 10px 10px 25px #b6b6b6;
    transition-duration: .5s;
}
.skill-box:nth-child(1)
{
    background-image: linear-gradient(135deg, hsla(186, 36%, 48%, 10%),#acf7ff);
}
.skill-box:nth-child(2)
{
    background-image: linear-gradient(135deg, hsla(0, 100%, 67%, 10%),#ffb1b1);
}
.skill-box:nth-child(3)
{
    background-image: linear-gradient(135deg, hsl(44, 100%, 92%) ,#ffe38f);
}
.skill-img{
    height: 300px;
    margin-bottom: 30px;
}
.skill-box img{
    height: 90%;
    max-width: 90%;
    padding: 30px 0;
    display: block;
    margin: auto;
}
.skill-description{
    padding: 25px;
}
.skill-description h2{
    color: #FF5959;
}
.skill-description small{
    display: block;
    margin: 15px 0;
}





/* Projects Sections Styles */
#project{
    margin: 50px 0;
}
#project>h1{
    margin: 10px 0;
    text-align: center;
    font-size: 50px;
}
#project h1 span{
    color: #FFAD5A;
}
#project-wrapper1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#project-wrapper2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.project-box{
    margin: 35px 0;
    width: 40%;
}
.project-box img{
    width: 80%;
    box-shadow: 10px 10px 25px #b6b6b6;
    border-radius: 10px;
}
.project-box h1{
    font-size: 35px;
    color: #FF5959;
    margin-bottom: 25px;
}
.project-box h3{
    color: #FFAD5A;
    margin-bottom: 10px;
}
.project-box p{
    margin-bottom: 30px;
}





/* Connect Section Styles */
#connect{
    margin: 50px 0;
}
#connect h1{
    color: #FF5959;
    margin: 10px 0;
    font-size: 35px;
}
#connect{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.con-box{
    width: 40%;
}
.con-box form{
    margin: 25px 0;
}
.con-box .input-style{
    display: block;
    width: 75%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}
.con-box img{
    width: 100%;
}





/* Footer Styles */
footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 35px 0;
}
footer p{
    color: #FF5959;
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
}